*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

.header{
    background:#0b74ff;
    color:#fff;
    text-align:center;
    padding:20px;
}

.tagline{
    font-size:15px;
}

.navbar{
    background:red;
    display:flex;
    justify-content:center;
}

.navbar a{
    color:#fff;
    padding:12px 16px;
    text-decoration:none;
    border-right:1px solid #fff;
}

.navbar a:hover,
.navbar .active{
    background:#b30000;
}

.container{
    width:90%;
    margin:20px auto;
    display:flex;
    gap:20px;
}

.left{
    width:70%;
    background:#fff;
    border:2px solid #0b74ff; /* BLUE BORDER */
}

.right{
    width:30%;
    height: 500px;
    background:#fff;
    border:2px solid #0b74ff; /* BLUE BORDER */
}

.section-title{
    background:#0b74ff;
    color:#fff;
    padding:10px;
    font-size:20px;
    text-align:center;
}

.list{
    list-style:none;
}

.list li{
    padding:10px;
    border-bottom:1px solid #0b74ff; /* BLUE LINE BETWEEN ITEMS */
    font-size:14px;
}

.list li:hover{
    background:#eaf2ff;
    cursor:pointer;
}


/* DISCLAIMER SECTION */
.disclaimer-wrapper{
    width:90%;
    margin:30px  auto auto;
    background:#ffffff;
    /* border:2px solid #0b74ff; */
    padding:20px;
    font-size:14px;
    line-height:1.8;
}

.disclaimer-heading{
    color:red;
    font-size:22px;
    margin-bottom:15px;
}

.sub-heading{
    font-size:18px;
    margin:15px 0;
    color:#000;
}

.disclaimer-wrapper p{
    margin-bottom:12px;
    color: red;
    font-size: 18px;
    /* font-weight:900; */
}

.disclaimer-list{
    padding-left:20px;
}

.disclaimer-list li{
    margin-bottom:10px;
    list-style:disc;
    font-size: 16px;
}

.disclaimer-wrapper hr{
    margin:20px 0;
    border:0;
    border-top:1px solid #ccc;
}

.footer-section{
    width: 90%;
    background:white;
    color:black;
    text-align:center;
    display: flex;
    padding:50px 10px;
    margin:0 auto;
    font-size:14px;
    justify-content: space-between;
    font-weight: 600;
   
    
    
}


