 /* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
}
    

/* HEADER */
/* .header{
    background:#0b74ff;
    padding:25px 0;
}

.header-inner{
    width:90%;
    margin:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    color:#fff;
}

.logo-circle{
    width:70px;
    height:70px;
    background:#fff;
    color:#000;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:32px;
    font-weight:bold;
}

.header-text h1{
    font-size:34px;
}

.header-text span{
    font-size:14px;
    color:#ffeb3b;
} */

/* NAVBAR */
/* .navbar{
    background:red;
    display:flex;
    justify-content:center;
}

.navbar a{
    color:#fff;
    text-decoration:none;
    padding:12px 18px;
    border-right:1px solid #fff;
    font-weight:bold;
}

.navbar a:hover{
    background:#b30000;
}   */


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

.header{
    background:#0b74ff;
    color:#fff;
    text-align:center;
    padding:20px;
}

.tagline{
    font-size:15px;
}

.navbar{
    background:red;
    display:flex;
    justify-content:center;
}

.navbar a{
    color:#fff;
    padding:12px 16px;
    text-decoration:none;
    border-right:1px solid #fff;
}

.navbar a:hover,
.navbar .active{
    background:#b30000;
}

/* SEARCH */
.search-area{
    display:flex;
    justify-content:center;
    margin:25px 0;
}

.search-area input{
    width:420px;
    padding:12px 15px;
    border-radius:25px 0 0 25px;
    border:1px solid #ccc;
    font-size:14px;
}

.search-area button{
    padding:12px 20px;
    border:none;
    background:#0b74ff;
    color:#fff;
    border-radius:0 25px 25px 0;
    cursor:pointer;
}

/* SOCIAL */
.social-area{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:30px;
}

.social-area a{
    padding:12px 30px;
    color:#fff;
    font-weight:bold;
    border-radius:3px;
    text-decoration:none;
}

.yt{background:#ff0000;}
.wa{background:#25d366;}
.tg{background:#0088cc;}

/* QUICK LINKS */
.quick-links{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:3px;
}

.quick-links div{
    background:#0b74ff;
    color:#fff;
    text-align:center;
    padding:16px 10px;
    font-weight:bold;
    font-size:15px;
}

/* THREE BOX */
.three-box{
    width:90%;
    margin:35px auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.box{
    background:#fff;
    border:2px solid #0b74ff;
}

.box h2{
    background:#0b74ff;
    color:#fff;
    text-align:center;
    padding:10px;
    font-size:20px;
}

.box ul{
    list-style:none;
}

.box ul li{
    padding:10px;
    border-bottom:1px solid #ddd;
    font-size:14px;
}
.box button{
    background-color: #0b74ff;
    border: none;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;

}

/* FOOTER */

/* DISCLAIMER SECTION */
.disclaimer-wrapper{
    width:90%;
    margin:30px auto  auto;
    background:#ffffff;
    /* border:2px solid #0b74ff; */
    padding:20px;
    font-size:14px;
    line-height:1.8;
}

.disclaimer-heading{
    color:red;
    font-size:22px;
    margin-bottom:15px;
}

.sub-heading{
    font-size:18px;
    margin:15px 0;
    color:#000;
}


.disclaimer-wrapper p{
    margin-bottom:12px;
    color: red;
    font-size: 18px;
    /* font-weight:1200px; */
}

.disclaimer-list{
    padding-left:20px;
}

.disclaimer-list li{
    margin-bottom:10px;
    list-style:disc;
    font-size: 16px;
}

.disclaimer-wrapper hr{
    margin:20px 0;
    border:0;
    border-top:1px solid #ccc;
}

 .footer-section{
    width: 90%;
    background:white;
    color:black;
    text-align:center;
    display: flex;

    padding:50px 10px;
    margin:0 auto;
    font-size:14px;
    justify-content: space-between;
    font-weight: 600;
    
    
    
}



